@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700,900');
@import "color";
@import "nav";

$break-large: 992px;

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.m-align {
    vertical-align: middle;
}

.brand-logo {
    img {
        margin-right: 1rem;
        max-height: 60%;
    }
}

.error {
    background-color: $error;
    color: #fff;
    a {
        margin-right: 1rem;
        background-color: $secondary-color;
        &:hover {
            background-color: $secondary-color;
        }
    }
    i {
        color: $error; 
    }
}

.info {
    @extend .error;
    background-color: $primary-color;
    &:hover {
        background-color: $primary-color;
    }

    i {
        color: $primary-color;
    }

}

.card {
    transition: all 0.25s cubic-bezier(0, 0.98, 0, 2);
    transform: scale(0.95);
    a, i {
        font-size: 0.85rem;
        vertical-align: middle;
        line-height: 1;
    }
    i {
        padding-bottom: 2px;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1) rotate3d(1, -1, 0, -10deg);
    }
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
    max-height: 70%;
    overflow: hidden;
}

.card.small .card-image+.card-content, .card.medium .card-image+.card-content, .card.large .card-image+.card-content {
    max-height: 30%;
}

.noshdw {
    box-shadow: none;

    nav {
        @extend .noshdw
    }
}

.heading {
    h2 {
        margin: 1rem 0;
    }
}

.valign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.search {
    i {
        color:  $dark-grey;
    }
    
    input[type=text] {
        border-bottom-color: $dark-grey;
    }

    .input-field .prefix.active {
        color: $primary-color;
    }

    input[type=text]:focus {
        color: $primary-color!important;
        border-bottom-color: $primary-color!important;
        box-shadow: 0 1px 0 0 $primary-color!important;
    }

    input[type=text].valid:not(.browser-default) {
        color: $primary-color!important;
        border-bottom-color: $primary-color!important;
        box-shadow: 0 1px 0 0 $primary-color!important;
    }

    input[type=text]:focus + label {
        color: $primary-color!important;
    }
}

.shadow-overlay {
    z-index: -50;
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    overflow: hidden;
	opacity: .5;
    background: #e8eaf6;
}

#particles {
    z-index: -100;
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    overflow: hidden;
}

.candidate-img {
    transform-origin: bottom left;
    transition: all 0.25s cubic-bezier(0, 0.98, 0, 2);
    transform: rotate(-5deg) scale(0.9);
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    &:hover {
        transform: rotate(0deg) scale(0.95);
    }
    img {
        border: 5px solid $secondary-color;
    }
    
}

.candidate-img {
    position: relative;
    &:before {
        display: block;
        content: "";
        height: 85%;
        width: 150%;
        position: absolute;
        background-image: url(../img/shadow.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        top: 89%;
        left: -25%;
        right: 0;
        transition: all .1s ease-out;
        transform-origin: 30% 50%;
        pointer-events: none;
        z-index: -100;
    }
    &:hover:before{
        top:95%;
    }
}

.heading {
    h3 {
        font-size: 2rem;
    }
}

.search {
    overflow: hidden;
}

.nav-wrapper {
    display: table;
    width: 100%;

    h1 {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        line-height: 1;
        font-size: 3rem;
    }
    a.brand-logo {
        position: initial;
        font-size: 1.75rem;
        height: 100%;
    }
}

table {
    width: 100%;
    i {
        vertical-align: middle;
        color: $primary-color;
        transform: scale(0.95);
        transition: all 0.2s ease;
        &:hover {
            transform: scale(1.1);
        }
    }


    tr:nth-child(even):hover {
        background-color: $primary-color;
        color: #fff;

        i {
            color: #fff;
        }
    }
}

.modal {
    i {
        color: $primary-color;
    }
    .modal-close {
        margin: 1rem 1rem 0 0;
    }
    .modal-title {
        padding-bottom: 1rem;
        border-bottom: 1px solid $dark-grey;
    }
    .note {
        p {
            &:last-child {
                font-weight: 500;
                font-size: 1.15rem;
            }
        }
    }
}

@media screen and (min-width: $break-large) {
    .cand-info {
        margin-top: 2rem;
    }

    .heading {
        h3 {
            font-size: 2.2rem;
        }
    }

    .nav-wrapper {
        h1 {
            a.brand-logo {
                font-size: 2.5rem;
            }
        }
    }
}