@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700,900');
@import "color";
@import "nav";

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.card {
    transition: all 0.25s cubic-bezier(0, 0.98, 0, 2);
    transform: scale(0.95);
    a, i {
        font-size: 0.9rem;
        vertical-align: middle;
        line-height: 1;
    }
    i {
        padding-bottom: 2px;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.05) rotate3d(1, -1, 0, -20deg);
    }
}
.noshdw {
    box-shadow: none;
    nav {
        @extend .noshdw
    }
}

.heading {
    h2 {
        margin: 1rem 0;
    }
}

.valign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.search {
    i {
        color:  #404040;
    }
    
    input[type=text] {
        border-bottom-color: #404040;
    }

    .input-field .prefix.active {
        color: $primary-color;
    }

    input[type=text]:focus {
        color: $primary-color!important;
        border-bottom-color: $primary-color!important;
        box-shadow: 0 1px 0 0 $primary-color!important;
    }

    input[type=text]:valid {
        color: $primary-color!important;
        border-bottom-color: $primary-color!important;
        box-shadow: 0 1px 0 0 $primary-color!important;
    }

    input[type=text]:focus + label {
        color: $primary-color!important;
    }
}

.shadow-overlay {
    z-index: -50;
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    overflow: hidden;
	opacity: .5;
    background: #e8eaf6;
}

#particles {
    z-index: -100;
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    overflow: hidden;
}